<div class="ageGroups form">
<?php echo $this->Form->create('AgeGroup'); ?>
	<fieldset>
		<legend><?php echo __('Admin Add Age Group'); ?></legend>
	<?php
		echo $this->Form->input('name');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
