<div class="ageGroups form">
<?php echo $this->Form->create('AgeGroup'); ?>
	<fieldset>
		<legend><?php echo __('Admin Edit Age Group'); ?></legend>
	<?php
		echo $this->Form->input('id');
		echo $this->Form->input('name');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>

		<li><?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $this->Form->value('AgeGroup.id')), array(), __('Are you sure you want to delete # %s?', $this->Form->value('AgeGroup.id'))); ?></li>
	</ul>
</div>
