<div class="gameLengths form">
<?php echo $this->Form->create('GameLength'); ?>
	<fieldset>
		<legend><?php echo __('Admin Add Game Length'); ?></legend>
	<?php
		echo $this->Form->input('name');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
