body.admin {
    h2 {
        float: left;
    }
    ul.actions {
        float: right;
        width: auto;
        padding: 0;
        border: none;
    }
    .index, .form {
        float: none;
        width: auto;
        padding: 0;
        border: none;
    }
}