/*** Less Elements ***/
@images: "../img";
@orange: #f39e1d;
@lightblue: #438bc5;
@lightblueHover: #215b89;
@mainfont: "proxima-nova-alt", sans-serif;
@subfont: Myriad Pro;


/*** Elements ***/
.clear {clear:both;}
.left {float:left;}
.right {float:right;}
a, button {outline:none;}


html{
  height:100%;
}

body{
  height:100%;
  font-size:12px;
  font-family: @mainfont;
  &.home {
    background-image:url('/img/assets/home_background.jpg');
    background-repeat:no-repeat;
    background-position: center center;
    width: 100%;
    min-height: 100%;
    background-size: cover;
    overflow: hidden;
  }
}

/*** Header ***/
.topcolorbar{
  height:5px;
  background-image:url('@{images}/assets/topcolorbar.jpg');
}
.navbar-inverse{
  border:0px;
}
.navbar{
  height:165px;
  background:#FFF;

  .logo{
    padding-top:16px;
  }

  ul{
    float:right;
    margin:0px;
    padding:0px;
    margin-top:16px;

    li{
      font-size:18px;
      display:inline;
      list-style:none;
      text-transform:uppercase;
      font-weight:bold;
      margin-right:30px;
    }

    a{
      text-decoration:none;
    }

    li:hover {
      border-bottom:3px solid #65b0ea;
      a{color:#65b0ea;}
    }

    .cta{
      background:#dc8434;
      padding:7px 15px;
      border-radius:10px;

      a{
        color:#FFF;
      }
    }

    .cta:hover{
      border-bottom:0px;
      background:#fff;
      color:#dc8434;
      cursor:pointer;
      -webkit-transition: all 0.5s ease-out 0s;
      -moz-transition: all 0.5s ease-out 0s;
      -o-transition: all 0.5s ease-out 0s;
      -ms-transition: all 0.5s ease-out 0s;
      i{
        color:#dc8434;

      }
    }
  }
}

/*** Game List of Category ***/
.gameCategories{
  width:100%;
  height:100%;
  background-image:url('@{images}/gameCategory/gameCategoryBG.jpg');
  background-position:center top;
  background-size:cover;
  padding:100px 0px;

  .col-md-3{
    margin-top:60px;
    &:nth-child(4n+1){
      clear:left;
    }
  }

  h2{
    color:#FFF;
    font-size:15px;
  }


  .gameCircle{
    width:70px;
    height:70px;
    padding-top:0px;
    margin:0 auto;
    background-color:#FFF;
    border-radius:35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    text-align:center;
    z-index:10;
    position:relative;
  }

  .gameCategory:hover{
    background:#022d56;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
  }

  .gameCategory{
    width:100%;
    background:#00417f;
    position:relative;
    margin-top:-35px;
    z-index:1;
    border-radius:10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    text-align:center;
    padding-bottom:28px;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;

    h3{
      margin:0px;
      padding:0px;
      font-size:18px;
      font-family:@mainfont;
      color:#FFF;
      padding-top:60px;
    }

    p{
      font-size:15px;
      color:#add8fc;
      font-weight:bold;
      font-family:@subfont;
      width:80%;
      margin:0 auto;
      padding:15px 0px;
    }

    a{
      font-family:@mainfont;
      font-size:15px;
      color:#f39e1e;
      text-decoration:none;
    }

    a:hover{
      text-decoration:none;
    }
  }
}




.homeBG{
  width:100%;
  min-height:100%;
  background-image:url('@{images}/assets/home_background.jpg');
  background-position:center center;
  background-size:cover;

  h1{
    font-size:50px;
    color:#000;
    font-weight:bold;
    padding-top:50px;
  }
}

/*** Homepage ***/
.middle{
  margin-top:4%;
  .slogan{
    h1{color:#fff;margin-top:15px;}
    .first{
      font-size:36px;
      font-weight:300;
      -ms-animation-duration: 5s;
      -moz-animation-duration: 5s;
      -webkit-animation-duration: 5s;
      -ms-animation-name: FirstSlideInLeft;
      -moz-animation-name: FirstSlideInLeft;
      -webkit-animation-name: FirstSlideInLeft;
    }
    @-ms-keyframes FirstSlideInLeft {
      from {opacity:1;margin-left:-300%;}
      to {opacity:1;margin-left:0%;}
    }
    @-moz-keyframes FirstSlideInLeft {
      from {opacity:1;margin-left:-300%;}
      to {opacity:1;margin-left:0%;}
    }
    @-webkit-keyframes FirstSlideInLeft {
      from {opacity:1;margin-left:-300%;}
      to {opacity:1;margin-left:0%;}
    }

    .second{
      font-size:47px;font-weight:normal;line-height:35px;margin-bottom:20px;
      -ms-animation-duration: 7s;
      -moz-animation-duration: 7s;
      -webkit-animation-duration: 7s;
      -ms-animation-name: SecondSlideInLeft;
      -moz-animation-name: SecondSlideInLeft;
      -webkit-animation-name: SecondSlideInLeft;
    }
    @-ms-keyframes SecondSlideInLeft {
      from {opacity:1;margin-left:-900%;}
      to {opacity:1;margin-left:0%;}
    }
    @-moz-keyframes SecondSlideInLeft {
      from {opacity:1;margin-left:-900%;}
      to {opacity:1;margin-left:0%;}
    }
    @-webkit-keyframes SecondSlideInLeft {
      from {opacity:1;margin-left:-900%;}
      to {opacity:1;margin-left:0%;}
    }

    .downloadbutton{
      font-size:17px;color:#f39e1f;padding:10px 30px;background-color:#fff;display: inline-block;border-radius:10px;text-align:center;
      -ms-animation-duration: 8s;
      -moz-animation-duration: 8s;
      -webkit-animation-duration: 8s;
      -ms-animation-name: buttonSlideInLeft;
      -moz-animation-name: buttonSlideInLeft;
      -webkit-animation-name: buttonSlideInLeft;

      .fa{padding-right:5px;color:#f39e1f;}
    }

    @-ms-keyframes buttonSlideInLeft {
      from {opacity:1;margin-left:-1200%;}
      to {opacity:1;margin-left:0%;}
    }
    @-moz-keyframes buttonSlideInLeft {
      from {opacity:1;margin-left:-1200%;}
      to {opacity:1;margin-left:0%;}
    }
    @-webkit-keyframes buttonSlideInLeft {
      from {opacity:1;margin-left:-1200%;}
      to {opacity:1;margin-left:0%;}
    }
    .downloadbutton:hover{
      background:#f39e1f;
      color:#fff;
      -webkit-transition: all 0.5s ease-out 0s;
      -moz-transition: all 0.5s ease-out 0s;
      -o-transition: all 0.5s ease-out 0s;
      -ms-transition: all 0.5s ease-out 0s;
      .fa{
        color:#fff;
        -webkit-transition: all 0.5s ease-out 0s;
        -moz-transition: all 0.5s ease-out 0s;
        -o-transition: all 0.5s ease-out 0s;
        -ms-transition: all 0.5s ease-out 0s;}
    }





    .tourbutton{
      font-size:17px;color:#448cc6;padding:10px 20px;background-color:#fff;display: inline-block;border-radius:10px;text-align:center;
      -ms-animation-duration: 8s;
      -moz-animation-duration: 8s;
      -webkit-animation-duration: 8s;
      -ms-animation-name: button2SlideInLeft;
      -moz-animation-name: button2SlideInLeft;
      -webkit-animation-name: button2SlideInLeft;
    }
    @-ms-keyframes button2SlideInLeft {
      from {opacity:1;margin-left:-1200%;}
      to {opacity:1;margin-left:0%;}
    }
    @-moz-keyframes button2SlideInLeft {
      from {opacity:1;margin-left:-1200%;}
      to {opacity:1;margin-left:0%;}
    }
    @-webkit-keyframes button2SlideInLeft {
      from {opacity:1;margin-left:-1200%;}
      to {opacity:1;margin-left:0%;}
    }
    .tourbutton:hover{
      background:#4f8cbb;
      color:#fff;
      -webkit-transition: all 0.5s ease-out 0s;
      -moz-transition: all 0.5s ease-out 0s;
      -o-transition: all 0.5s ease-out 0s;
      -ms-transition: all 0.5s ease-out 0s;
    }
  }
  .images{
    img{position:absolute;height: 485px;}
    .phone{right:110px;}
    .woman{}
  }
}

.homeFixed{
  position:fixed;
  bottom:0;
  height:82px;
  width:100%;


  .col-md-3{
    padding-left:0px;
    padding-right:0px;
  }

  a{
    text-align:center;
    line-height:82px;
    height:82px;
    width:100%;
    color:#FFF;
    font-size:20px;
    font-family:@mainfont;
    width:25%;float:left;-webkit-perspective: 5000;-webkit-transform-style: preserve-3d;transition:all 1s ease-in-out;
    .feature{
      transform-style: preserve-3d;
      -webkit-transition: -webkit-transform .4s ease-in-out, opacity 1.5s ease-in-out;
      transition: transform .4s ease-in-out, opacity 1.5s ease-in-out;

      .face{
        -webkit-transform: rotateX(0deg) translateZ(30px);
        transform: rotateX(-10deg) translateZ(30px);

      }

      .face.one .cover{}
      .face.two .cover{}
      .face.three .cover{}
      .face.four .cover{}

      .face.hover{
        -webkit-transform: rotateX(-90deg) translateZ(30px);
        transform: rotateX(-90deg) translateZ(30px);

      }
    }
  }

  a:hover{
    text-decoration:none;
    -webkit-transform: rotateX(90deg) translateZ(0);
    -moz-transform: rotateX(90deg) translateZ(0);
    -ms-transform: rotateX(90deg) translateZ(0);
    transform: rotateX(90deg) translateZ(0);
    transition: transform .4s ease-in-out, opacity 1.5s ease-in-out;
    .feature{


      .face.hover{
        -webkit-transform: rotateX(-90deg) translateZ(50px);
        transform: rotateX(-90deg) translateZ(50px);
      }
    }
  }
  .game{
    background-color:#004d97;
    display:block;
    .feature{
      background:#004d97;
      .face{background:#004d97;}
      .face.hover{background:#004d97;}
    }
    .face.cover{
      background-color:#004d97;
    }
    .learn{background-color: #4b7427;}
    .tour{background-color:#f39e00;}
    .download{background-color:#50204e;}
  }

  .learn{
    background-color:#4b7427;
    display:block;
    .feature{
      background:#4b7427;
      .face{background:#4b7427;}
      .face.hover{background:#4b7427;}
    }
  }

  .tour{
    background-color:#f39e00;
    display:block;
    .feature{
      background:#f39e00;
      .face{background:#f39e00;}
      .face.hover{background:#f39e00;}
    }
  }

  .download{
    background-color:#50204e;
    display:block;
    .feature{
      background:#50204e;
      .face{background:#50204e;}
      .face.hover{background:#50204e;}
    }
  }
}





/*** Single Game ***/
.singleHeader{
  width:100%;
  background-image:url('@{images}/gameCategory/gameCategoryBG.jpg');
  background-position:center top;
  background-size:cover;
  padding:60px 0px;

  h1{
    color:#FFF;
    font-size:30px;
    font-weight:400;
    font-family:@mainfont;
  }

  p{
    font-family:@subfont;
    font-size:17px;
    color:#FFF;
  }

  .statBar{
    background:#FFF;
    width:60%;
    border-radius:5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  }

  button{
    width:60%;
    background:@orange;
    border:0px;
    border-bottom:2px solid #c37f18;
    border-radius:5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size:18px;
    color:#FFF;
    font-family:@mainfont;
    text-align:center;
    text-transform:uppercase;
    padding:15px 15px;
    margin-top:20px;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
  }

  button:hover{
    background:#c37f19;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
  }

  .singleGameTopImage{
    border:5px solid #FFF;
  }

  .mainContent{
    padding:45px 0px;
    width:100%;
    margin:60px 0px;
    background-image:url('@{images}/singleGame/singleGameTransparent.png');

    .singlePreview{

      ul{
        margin:0px;
        padding:0px;
        padding-bottom:30px;
        margin-left:17px;

        li{
          font-family:@subfont;
          color:@orange;
          font-size:18px;

          b, span{
            color:#FFF;
          }
        }
      }
    }

    h2{
      font-family:@mainfont;
      color:#FFF;
      text-transform:uppercase;
      font-size:38px;
      font-weight:bold;
    }

  .singleTextContainer {
      overflow-y: scroll;
        height: 222px;
  }
    .singleReady{
      width:100%;
      background-color:#3f8bc5;
      border-radius:10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
        padding: 25px;


      h3{
        font-size:24px;
        font-weight:bold;
        font-family:@mainfont;
        color:#FFF;
        margin:0px;
        padding:0px;
      }

      ul{
        margin:0px;
        padding:0px;
        margin-top:15px;

        li{
          color:#FFF;
          font-family:@subfont;
          font-size:16px;
          margin-left:15px;
          padding-bottom:3px;
        }
      }
    }

    .singleImage{
      width:100%;
      overflow:hidden;
      border-radius:10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
    }

    .setTitle{

      h2{
        color:@orange;
      }
    }

    .singlePlay{
      background-color:@orange;
    }

    .goTitle{
      color:#77a119;
    }

    .singleGo{
      background-color:#77a119;
      margin-bottom:30px;
    }

    .item{
      float:left;
      border-radius:10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      padding:20px 30px;
      color:#FFF;
      font-family:@mainfont;
      font-size:18px;
      background:red;
      margin-right:25px;
    }

    .blue{
      background-color:#054f95;
    }

    .lightblue{
      background-color:#2488c3;
    }

    .green{
      background-color:#77a119;
    }

    .orange{
      background-color:@orange;
    }

    .purple{
      background-color:#8b3e7f;
    }
  }
}
.singleGameAllCategories{
  padding:60px 0px;
  height:auto;
  background:none;

  h2{
    font-weight:bold;
    text-transform:uppercase;
    font-size:40px;
    font-family:@mainfont;
  }
}


/** LEARN **/
.learnHeader{
  width:100%;
  height:1100px;
  background-image:url('@{images}/learn/learn-background.jpg');
  background-position:center top;
  padding-top:60px;

  h1{
    font-family:@mainfont;
    font-size:60px;
    font-weight:bold;
    color:#FFF;

  }
  @-ms-keyframes FirstSlideInLeft {
    from {opacity:1;margin-left:-300%;}
    to {opacity:1;margin-left:0%;}
  }
  @-moz-keyframes FirstSlideInLeft {
    from {opacity:1;margin-left:-300%;}
    to {opacity:1;margin-left:0%;}
  }
  @-webkit-keyframes FirstSlideInLeft {
    from {opacity:1;margin-left:-300%;}
    to {opacity:1;margin-left:0%;}
  }

  p{
    font-size:17px;
    color:#FFF;
    font-family:@subfont;
  }

  .learnCounselors{
    width:100%;
    height:384px;
//    background-image:url('@{images}/learn/learnCounselors.png');
//    background-repeat:no-repeat;
//    background-position:right top;
    margin-top:30px;

    h2{
      font-size:40px;
      font-weight:bold;
      color:#FFF;
      font-family:@mainfont;
      padding-top:100px;
    }
    .people{
      img{}
    }
    .kidsgroup{padding-top:40px;}

    p{
      font-family:@subfont;
      color:#FFF;
      font-size:16px;
    }
  }
}
.learnBreak{
  width:100%;
  height:400px;
  background-image:url('@{images}/learn/learnBreak.jpg');
}
.learnBreak2{
  width:100%;
  height:400px;
  background-image:url('@{images}/learn/learnBreak2.jpg');
}
.learnImpact{
  width:100%;
  height:710px;
//  background-image:url('@{images}/learn/learnImpact.jpg');
//  background-position:center top;

  h2{
    font-family:@mainfont;
    color:#FFF;
    font-weight:bold;
    padding-top:60px;
    font-size:50px;
  }

  h3{
    font-family:@mainfont;
    color:#FFF;
    font-weight:bold;
    padding-top:30px;
    font-size:24px;
  }

  p{
    font-size:16px;
    color:#FFF;
    font-family:@subfont;
  }
}
.learnFinal{
  width:100%;
  height:auto;
  padding:100px 0px;
  background-image:url('@{images}/learn/learnFinal.jpg');
  background-position:center top;

  h2{
    font-family:@mainfont;
    color:#FFF;
    font-size:40px;
    font-weight:bold;
  }

  ul{
    margin:0px;
    padding:0px;
    margin-left:15px;

    li{
      color:#FFF;
      font-size:18px;
      padding-bottom:5px;
      font-family:@subfont;
    }
  }

  img{
    border:5px solid #FFF;
  }

  .learnFinalTagline{
    padding-top:60px;

    h3{
      font-family:@mainfont;
      color:#FFF;
      font-weight:bold;
      font-size:30px;
    }

    p{
      color:#FFF;
      font-size:16px;
      font-family:@subfont;

      a{
        color:#f3ce1f;
        text-decoration:none;
      }

      a:hover{
        text-decoration:none;
        border-bottom:1px dashed #f3ce1f;
      }
    }
    .social{
      list-style-type: none;
      li{
        float:left;
        img{border:none;}
      }
    }
  }

}


/** Download **/

.downloadBG{
  background-image:url('@{images}/download/downloadBG.jpg');
  width:100%;
  padding:100px 0px;
  background-position:center top;
  background-size:cover;

  .downloadHeader{
    padding-bottom:50px;
  }

  h1{
    color:#FFF;
    font-size:40px;
    font-weight:800;
    font-family:@mainfont;
    padding:20px 0px;
  }

  .downloadBreak{
    width:100%;
    height:405px;
    background-image:url('@{images}/download/downloadBreak.jpg');
    background-position:center top;
    background-size:cover;

    h2{
      color:#FFF;
      font-size:40px;
      font-family:@mainfont;
      font-weight:500;
      text-shadow:2px 2px 2px #414141;
      padding-top:100px;
    }
  }

  .downloadWatch{
    width:100%;
    height:383px;
    background-image:url('@{images}/download/counselor.png');
    background-repeat:no-repeat;
    position:relative;
    margin-top:-37px;

    h3{
      font-family:@mainfont;
      font-weight:500;
      color:#FFF;
      font-size:34px;
      padding-top:100px;
    }

    p{
      color:#FFF;
      font-size:16px;
      font-family:@subfont;

    }
  }
  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 0;
    margin-top:0px;

    iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .downloadCTA{
    text-align:center;
    padding-top:80px;

    img{
      margin:0 auto;
      width:40%;
    }

    p{
      color:#FFF;
      font-size:18px;
      font-family:@mainfont;
      margin-top:20px;
    }

    button{
      width:auto;
      background:@orange;
      border:0px;
      border-bottom:2px solid #c37f18;
      border-radius:5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      font-size:18px;
      color:#FFF;
      font-family:@mainfont;
      text-transform:uppercase;
      padding:15px 25px;
      font-size:24px;
      text-align:center;
      -webkit-transition: all 0.5s ease-out 0s;
      -moz-transition: all 0.5s ease-out 0s;
      -o-transition: all 0.5s ease-out 0s;
      -ms-transition: all 0.5s ease-out 0s;
    }

    button:hover{
      background:#c37f19;
      -webkit-transition: all 0.5s ease-out 0s;
      -moz-transition: all 0.5s ease-out 0s;
      -o-transition: all 0.5s ease-out 0s;
      -ms-transition: all 0.5s ease-out 0s;
    }
  }
}




/*** Hide and Show Filters Module ***/
.hideFilters {

  h2{
    font-family:@mainfont;
    color:#FFF;
    font-weight:bold;
    text-transform:uppercase;
    font-size:24px;
  }

    input {
        margin-bottom: 17px;
    }
  select{
    margin-bottom:17px;
  }

  .radioLabel{
    width:100%;
    margin-bottom:5px;

    label{
      width:100%;
    }
    .left{
      float:right;
      font-size:16px;
      color:#FFF;
      font-family:@subfont;
      margin-top:10px;
      margin-right:5px;
      font-weight:300;
    }

    .right{
      float:right;
      color:@orange;
      font-family:@mainfont;
      text-transform:uppercase;
      font-size:12px;
      text-align:center;

      .option{
        float:right;
        padding-left:15px;
      }
    }
  }

  button{
    width:100%;
    background:@orange;
    border:0px;
    border-bottom:2px solid #c37f18;
    border-radius:5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size:22px;
    color:#FFF;
    font-family:@mainfont;
    text-align:left;
    padding:15px 25px;
    margin-top:20px;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
  }

  button:hover{
    background:#c37f19;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
  }
}

/*** Single Category ***/
.singleCategory{
  width:100%;
  height:100%;
  background-image:url('@{images}/gameCategory/gameCategoryBG.jpg');
  background-position:center top;
  background-size:cover;
  padding:60px 0px;

  .gameCircle{
    width:70px;
    height:70px;
    padding-top:0px;
    margin:0 auto;
    background-color:#fff;
    border-radius:35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    text-align:center;
    float:left;
    margin-right:20px;

  }

  .singleCategoryTitle{

    h1{
      color:#FFF;
      font-size:40px;
      font-family:@mainfont;
      margin:0px;
      padding:0px;
      margin-top:15px;
    }

    p{
      font-family:@mainfont;
      font-size:14px;
      margin:14px 0px;
      color:#FFF;
    }

    button{
      width:50%;
      background:@orange;
      border:0px;
      border-bottom:2px solid #c37f18;
      border-radius:5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      font-size:18px;
      color:#FFF;
      font-family:@mainfont;
      text-align:left;
      padding:15px 15px;
      -webkit-transition: all 0.5s ease-out 0s;
      -moz-transition: all 0.5s ease-out 0s;
      -o-transition: all 0.5s ease-out 0s;
      -ms-transition: all 0.5s ease-out 0s;
    }

    button:hover{
      background:#c37f19;
      -webkit-transition: all 0.5s ease-out 0s;
      -moz-transition: all 0.5s ease-out 0s;
      -o-transition: all 0.5s ease-out 0s;
      -ms-transition: all 0.5s ease-out 0s;
    }
  }

  .singleCategoryImage{
    padding-bottom:30px;

    img{
      border:5px solid #FFF;
    }
  }

  h3{
    font-size:30px;
    color:#FFF;
    font-weight:bold;
    text-transform:uppercase;
    font-family:@mainfont;
    padding-top:60px;
  }
}
.topRated{
  margin-bottom:25px;

    &:nth-child(3n+1){
          clear:left;
        }
  a{
    color:#fff;
    .playButton{
      display:none;
      position:absolute;
      margin-left:-40px;
      left:50%;
      margin-top:50px;
    }

    .topRatedTitle{
      width:100%;
      font-size:18px;
      font-family:@mainfont;
      color:#FFF;
      background-color:@orange;
      line-height:30px;
      padding-left:2%;
    }

    .topRatedStats{
      background:#FFF;
      width:100%;
      height:77px;
      border-radius:0px 0px 5px 5px;
      -webkit-border-radius: 0px 0px 5px 5px;
      -moz-border-radius: 0px 0px 5px 5px;

      .stat{
        width:25%;
        border-right:1px solid #f1f1f1;
        float:left;
        height:77px;
        text-align:center;
        padding-top:12px;

        div{
          font-size:20px;
          font-weight:bold;
          color:#414141;
          font-family:@mainfont;
        }

        span{
          font-family:@mainfont;
          font-size:18px;
          color:#a6a6a6;
        }
      }
    }
  }
  a:hover{
    .playButton{display:block;}
    .topRatedTitle{background-color:#c37f18;}
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
  }
}

.statPanel {
  background:#FFF;
  width:60%;
  height:77px;
  border-radius:0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;

  .stat{
    width:25%;
    border-right:1px solid #f1f1f1;
    float:left;
    height:77px;
    text-align:center;
    padding-top:12px;

    div{
      font-size:20px;
      font-weight:bold;
      color:#414141;
      font-family:@mainfont;
    }

    span{
      font-family:@mainfont;
      font-size:18px;
      color:#a6a6a6;
    }
  }
}
