@media (min-width:480px) {





  .navbar{height:100px;}
  .navbar-toggle{margin-top:6%;}
  .navbar-brand{
    img{height:100px;}
  }


  body.home{
    .navbar-brand{
      img{height:60px;}
    }
  }



  /** HOMEPAGE **/











  /** TOUR **/

  .choosePlay{
    .chooseCategories{
      ul{
        li{
          p{font-size:22px;}
        }
      }
    }
  }



  /** CATEGORIES  AND GAMES **/

  .gameCategories{
    padding:50px 0;
    h2{font-size:24px;text-align:center;}
    .gameCategory{
      h3{font-size:26px;}
      a{font-size:20px;}
      p{font-size:20px;}
    }
  }


  /** SINGLE GAME TEST **/
  .singleHeader{
    .mainContent{
      .item{width:auto;}
    }
  }



  /** DOWNLOAD **/

  .downloadBG{
    h1{font-size:28px;}
    .downloadBreak{
      h2{font-size:28px;}
    }
    .downloadWatch{
      h3{font-size:32px;}
      p{font-size:18px;}
    }
    .downloadCTA{
      img{width:25%;}
    }
  }

}
