@media (min-width:1200px) {


  /** HEADER **/

  .navbar{
    ul{
      li{margin-right:30px;padding:0;}
    }
  }

  /** HOMEPAGE **/

.middle{
  margin-top:8%;
  .slogan{
    .first{font-size:36px;}
    .second{font-size:47px;}
    .tourbutton{width:auto;float:none;}
    .downloadbutton{width:auto;float:none;}

  }
  .images{
    .phone{right:110px;}

  }
}

  .homeFixed{
    a:hover{
      -webkit-transform: rotateX(90deg) translateZ(0);
      transform: rotateX(90deg) translateZ(0);
    }
  }



  /** TOUR **/

  .tourHeader{
    height:560px;
    .topHeader{
      h1{font-size:40px;}
    }
  }

  .choosePlay{
    h2{font-size:40px;}
    h3{width:60%;}
    .chooseCategories{
      ul{
        li{
          img{float:left;}
          p{font-size:18px;line-height:85px;float:left;margin-left:15px;}
        }
      }
    }
  }

  .finalChoose{
    h2{font-size:40px;margin-top:20px;}
    p{font-size:16px;}
    .bottomCounselor{
      h4{font-size:18px;}
    }
  }


  /** CATEGORIES & GAMES **/
  .gameCategories{
    padding:50px 0;
    h2{font-size:17px;text-align:left;}
    .gameCategory{
      h3{font-size:18px;}
      a{font-size:15px;}
      p{font-size:15px;}
    }
  }


  /** SINGLE GAME TEST **/
  .singleHeader{
    .mainContent{
      .singleImage{margin-top:0}
    }
    .gameCategories.singleGameAllCategories{
      h2{font-size:28px;text-align:center;}
    }
  }

  /** CATEGORIES & GAMES **/
  .gameCategories{
    padding:50px 0;
    h2{font-size:24px;text-align:center;}
    .gameCategory{
      h3{font-size:24px;}
      a{font-size:18px;}
      p{font-size:18px;}
    }
  }




  /** LEARN **/

  .learnHeader{
    .who{
      h1{font-size:60px;}
    }
    .learnCounselors{
      background-position: right top;
      .why{
        h2{font-size:40px;text-shadow: none;text-align:left;}
        p{font-size:16px;text-align:left;text-shadow: none;}
      }
    }
  }

  .learnBreak{display:block;height: 400px;background-size: cover;background-position:center;}

  .learnImpact{
    h2{font-size:50px;}
    h3{font-size:24px;text-shadow: none;}
    p{font-size:16px;text-shadow: none;}
  }

  .learnBreak2{display:block;height: 400px;background-size: cover;background-position:center;}

  .learnFinal{
    ul{
      li{font-size:18px;}
    }
    .learnFinalTagline{
      p{font-size:16px;}
    }
  }


  /** DOWNLOAD **/

  .downloadBG{
    h1{font-size:40px;}
    .img-responsive{height:auto;}
    .downloadBreak{
      height:405px;
      h2{font-size:40px;}
    }
    .downloadCTA{
      img{width:40%;}
    }
  }



}