@media (min-width:768px) {


  /** HEADER **/
  .navbar{
    ul{
      margin-top:0px;
      text-align: right;
      width:100%;
      li{
        display:inline;
        border:none;
        margin-right:10px;
      }
      li:hover{
        border-bottom: 3px solid #65b0ea;
        a{color:#65b0ea;}
      }
      .cta{
        background-color:#dc8434;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        a{color:#fff;}
      }
    }
  }


  /** HOMEPAGE **/

.middle{margin-top:10%;}



  /** TOUR **/

  .tourImageBreak{
    background-position: center center;
    height:400px;
  }

  .choosePlay{
    .chooseCategories{
      ul{
        li{
          p{font-size:24px;}
        }
      }
    }
  }

  .tourImageBreak2{
    .orangeBall{
      margin-top:-30px;
    }
  }

  .finalChoose{
    font-size:22px;
    .bottomCounselor{
      h4{font-size:26px;}
    }
  }


  /** SINGLE GAME TEST **/
  .singleHeader{
    .gameinfo{
      text-align: left;
      .printbutton{
        .print{float:left;font-size:17px;text-align:center;}
      }
      .statBar{margin:0;}
    }
    .singleGameTopImage{}
    .mainContent{
      .highfive{text-align:right;}
      .singleImage{
        img{margin:0;}
      }
      .item{margin-right:25px;margin-bottom:10px;}
    }
  }



  /** LEARN **/

  .learnHeader{
    .who{
      h1{font-size:50px;}
      p{font-size:20px;}
    }
    .learnCounselors{
      .why{
        p{font-size:20px;}
      }
    }
  }

  .learnBreak{display:none;}
  .learnImpact{
    h2{text-align: left;}
    h3{font-size:28px;}
    p{font-size:20px;}
  }

  .learnBreak2{display:none;}

  .learnFinal{
    padding-top:0;
    h2{font-size:40px;}
    ul{
      li{font-size:22px;}
    }
    .learnFinalTagline{
      p{font-size:20px;}
    }
  }


  /** TOUR **/

  .tourHeader{
    .img-responsive{display:block;}
    .topHeader{
      h1{text-align:left;}
      .buttonDownload{float:left;}
    }
  }


  /** DOWNLOAD **/

  .downloadBG{
    h1{font-size:34px;}
    .img-responsive{height:150px;}
    .downloadBreak{
      height:355px;
      h2{font-size:34px;}
    }
    .downloadWatch{
      background-image:url('http://localhost:8080/img/download/counselor.png');
      h3{font-size:34px;}
      p{font-size:18px;}
    }
  }


  .statPanel{float:left;}




}