@media (min-width:992px) {


  /** HEADER **/
  .navbars{
    ul{
      li{margin-right:15px;padding:8px 20px;}
    }
  }

  /** HOMEPAGE **/
  body.home{background-image:url('/img/assets/home_background.jpg');}
  .middle{
    margin-top:5%;
    .slogan{
      .first{text-align:left;}
      .second{text-align:left;}
    }
    .images{
      .woman{display:block;}
      .phone{display:block;right:0;}
    }
  }

  body.home{
    .navbar-brand{
      img{height:105px;}
    }
    .navbar{height:125px;}
  }


  /** TOUR **/
  .tourHeader{
    height:450px;
    .topHeader{

    }
  }

  .choosePlay{
    .chooseCategories{
      padding-top:0;
    }
  }

  .tourImageBreak2{
    .orangeBall{margin-top:-100px;}
  }


  .finalChoose{
    h2{text-align:left;margin-top:20px;}
    p{text-align:left;font-size:18px;}
    .bottomCounselor{
      background-image:url('http://localhost:8080/img/tour/counselor.png');
      height:418px;
      h4{font-size:22px;}
    }
  }



  /** CATEGORIES & GAMES **/
  .gameCategories{
    padding:50px 0;
    h2{font-size:24px;text-align:center;}
    .gameCategory{
      h3{font-size:24px;}
      a{font-size:18px;}
      p{font-size:18px;}
    }
  }



  /** LEARN **/

  .learnHeader{
    .who{
      h1{font-size:55px;}
    }
    .learnCounselors{
      background-position: right top;
      .why{
        p{font-size:18px;}
      }
      .people{
        img{display:block;}
      }
      .kidsgroup{padding-bottom: 0px;}
    }
  }

  .learnBreak{display:block;height: 200px;background-size: cover;background-position:center;}

  .learnImpact{
    h2{font-size:44px;}
    h3{font-size:24px;text-shadow: none;}
    p{font-size:18px;text-shadow: none;}
  }

  .learnBreak2{display:block;height: 200px;background-size: cover;background-position:center;}

  .learnFinal{
    padding-top:100px;
    ul{
      li{font-size:20px;}
    }
    .learnFinalTagline{
      p{font-size:18px;}
    }
  }


  /** DOWNLOAD **/

  .downloadBG{
    h1{font-size:36px;text-align:left;}
    .img-responsive{height:175px;}
    .downloadBreak{
      height:375px;
      h2{font-size:36px;padding-top:100px;}
    }
    .downloadWatch{
      background-image:url('http://localhost:8080/img/download/counselor.png');
      h3{font-size:34px;text-align:left;}
      p{text-align:left;}
    }
    .downloadCTA{
      img{width:35%;}
    }
  }


}