@media (min-width:300px) {


  /** HEADER **/



  .navbar-brand{
    padding-top:0px !important;
    img{
      height:75px;
    }
  }

  body.home{
    .navbar-brand{
      img{height:60px;}
    }
  }
  .navbar{
    height:70px;
  }

  .topcolorbar{background-size: cover;}
  .navbar-toggle{
    margin-top:6%;
    background-color:#65b0ea;
    border-color:#65b0ea;
  }
  .navbar-inverse
  {
    .navbar-toggle{border-color:#65b0ea;}
    .navbar-collapse{border:none;}

  }
  .navbar-inverse .navbar-toggle:hover{background-color:#65b0ea;}

  .navbar{
    z-index: 100;
    ul{
      margin-top:0;width:40%;
      li{
        display:block;
        text-align:right;
        border:1px solid #ddd;
        background-color:#fff;
        margin-right: 15px;
        padding:8px 10px;
      }
      .cta{
        background-color:#fff;padding:8px 10px;border-radius:0px;
        a{color:#428bca;}
      }
      li:first-child{border-top-left-radius: 4px;border-top-right-radius: 4px;}
      li:last-child{margin-bottom: 0;border-bottom-right-radius: 4px;border-bottom-left-radius: 4px;}
      li:hover{border-bottom: 1px solid #ddd;}
    }
  }


  /** HOMEPAGE **/
  body.home{background-image:url('/img/assets/homebackground.jpg');}
  .middle{
    margin-top:15%;
    .slogan{
      .first{font-size:32px;text-align:center;}
      .second{font-size:36px;text-align:center;}
      .downloadbutton{width:49%;float:left;}
      .tourbutton{width:49%;float:right;text-align:center;}
    }
    .images{
      .woman{display:none;}
      .phone{display:none;}
    }
  }

  .homeFixed{
     a:hover{
       -webkit-transform: rotateX(0deg) translateZ(0);
       transform: rotateX(0deg) translateZ(0);
     }
   }




  /** TOUR **/

  .tourHeader{
    height:350px;
    text-align: center;

    .img-responsive{display:none;}
    .topHeader{
      padding-top:60px;
      h1{font-size:38px;text-align:center;margin-bottom:30px;}
      a{float:none;}
    }
  }

  .choosePlay{
    h2{font-size:38px;}
    h3{width:85%;}
    img{margin-left:auto;margin-right:auto;}
    .chooseCategories{
      h4{text-align:center;}
      ul{
        li{
          //        padding:0 25%;
          img{float:none;margin-right: auto;margin-left: auto;display: block;}
          p{float:none;margin-left:0;margin-right:0;text-align:center;line-height:50px;font-size:20px;}
        }
      }
    }
  }

  .finalChoose{
    h2{font-size:38px;margin-top: 60px;text-align: center;}
    p{text-align: center;}
    .bottomCounselor{background-image:none;height:300px;}
  }



  /** CATEGORIES  AND GAMES **/

  .gameCategories{
    padding:50px 0;
    h2{font-size:20px;text-align:center;}
    .gameCategory{
      h3{font-size:22px;}
      a{font-size:18px;}
      p{font-size:18px;}
    }
  }



  /** SINGLE GAME TEST **/
  .singleHeader{
    .gameinfo{
      text-align:center;
      .printbutton{
        .print{float:none;}
      }
      .statBar{display: block;margin-right: auto;margin-left: auto;}
    }
    .mainContent{
      .highfive{text-align:center;}
      .singleImage{
        margin-top:0px;
        img{margin-right: auto;margin-left: auto;}
      }
      .item{margin:0;width:50%;}
    }
    .gameCategories.singleGameAllCategories{
      padding-top:0;
      h2{font-size:24px;}
    }
  }



  /** LEARN **/

  .learnHeader{
    .who{
      text-align:left;
      h1{font-size:40px;}
      p{font-size:18px;}
    }
    .learnCounselors{
      background-position:center center;
      .why{
        h2{text-shadow: 0 1px #000;padding-top: 20px;}
        p{text-shadow: 0 1px #000;font-size:18px;}
      }
      .people{
        img{display:none;}
      }
      .kidsgroup{
        padding-bottom: 40px;
      }
    }
  }

  .learnBreak{display:none;}
  .learnImpact{
    h2{font-size:36px;text-align:center;}
    h3{text-shadow: 0 1px #000;padding-top:10px;}
    p{text-shadow: 0 1px #000;font-size:18px;}
  }

  .learnBreak2{display:block;background-position: center center;background-size: cover;}

  .learnFinal{
    padding-top:0;
    h2{font-size:36px;}
    ul{
       li{font-size:18px;}
    }
    .learnFinalTagline{
      p{font-size:18px;}
    }
  }



  /** DOWNLOAD **/

  .downloadBG{
    padding-top:40px;
    h1{font-size:25px;text-align:center;}
    .img-responsive{margin-left: auto;margin-right: auto;height: 130px;}
    .downloadBreak{
      height:305px;
      h2{font-size:25px;padding-top:60px;text-align:center;}
    }
    .downloadWatch{
      background-image:none;
      h3{font-size:30px;text-align:center;}
      p{text-align:center;}
    }
  }

  /** GAME VIEW **/

  .statPanel{
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }





  /** SINGLE CATEGORY **/





}