/*** Less Elements ***/
@images: "../img";
@orange: #f39e1d;
@lightblue: #438bc5;
@lightblueHover: #215b89;
@mainfont: "proxima-nova-alt", sans-serif;
@subfont: Myriad Pro;


/*** Elements ***/
.clear {clear:both;}
.left {float:left;}
.right {float:right;}
a, button {outline:none;}

.tourHeader{
  height:560px;
  background-image:url('@{images}/tour/tourHeader.jpg');
  background-size:cover;
  background-position:center top;
  overflow:hidden;

  iframe{
    float:left;
    border:5px solid #FFF;
  }

  .buttonDownload.orange{
    background:@orange;
    margin-right:15px;
  }

  .topHeader{
    padding-top:0px;

    h1{
      position:relative;
      top:10%;
      color:#FFF;
      font-family:@mainfont;
      font-weight:bold;
      font-size:60px;
      margin-bottom:15px;
    }


    a{
      background:@lightblue;
      float:left;
      padding:15px 4%;
      color:#FFF;
      font-family:@mainfont;
      text-transform:uppercase;
      font-size:16px;
      border-radius:5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-transition: all 0.5s ease-out 0s;
      -moz-transition: all 0.5s ease-out 0s;
      -o-transition: all 0.5s ease-out 0s;
      -ms-transition: all 0.5s ease-out 0s;
    }

    a:hover{
      background:@lightblueHover;
      text-decoration:none;
      -webkit-transition: all 0.5s ease-out 0s;
      -moz-transition: all 0.5s ease-out 0s;
      -o-transition: all 0.5s ease-out 0s;
      -ms-transition: all 0.5s ease-out 0s;
    }
  }
}
.tourImageBreak{
  width:100%;
  height:493px;
  background-image:url('@{images}/tour/tourImageBreak.jpg');
}
.choosePlay{
  background-image:url('@{images}/gameCategory/gameCategoryBG.jpg');
  background-position:center top;
  background-size:cover;
  padding-top:60px;


  h2{
    font-family:@mainfont;
    color:#FFF;
    font-size:40px;
    font-weight:bold;
    text-transform:none !important;
    margin-bottom:30px;
  }

  h3{
    font-family:@subfont;
    color:#FFF;
    font-size:22px;
    width:60%;
    margin:0 auto;
    margin-bottom:60px;
  }

  .chooseCategories{
    padding-top:70px;

    h4{
      font-family:@mainfont;
      color:#FFF;
      font-weight:bold;
      font-size:28px;
      text-transform:uppercase;
      text-align:left;

    }

    ul{
      margin:0px;
      padding:0px;
      margin-top:20px;

      li{
        width:50%;
        float:left;
        list-style:none;

        img{
          float:left;
          width:70px;
        }

        p{
          float:left;
          margin-left:15px;
          line-height:70px;
          font-size:18px;
          font-family:@subfont;
          color:#FFF;
        }
      }
    }
  }
}
.tourImageBreak2{
  width:100%;
  height:297px;
  background-image:url('@{images}/tour/tourImageBreak2.jpg');

  .orangeBall{
    position:absolute;
    margin-top:-100px;
  }

  .bottomCircleContainer{
    position:absolute;
    bottom:0;
    right:0;
  }
}
.finalChoose{
  background-image:url('@{images}/tour/tourBottom.jpg');
  background-position:center top;
  background-size:cover;

  .bottomCircle{
    margin-top:-140px;
  }

  h2{
    font-size:40px;
    color:#FFF;
    text-transform:uppercase;
    font-family:@mainfont;
    font-weight:bold;
  }

  p{
    font-size:16px;
    color:#FFF;
    font-family:@subfont;
  }

  .bottomCounselor{
    height:418px;
    width:100%;
    background-image:url('@{images}/tour/counselor.png');
    background-repeat:no-repeat;

    h3{
      color:#FFF;
      font-size:43px;
      text-transform:uppercase;
      text-align:center;
      width:100%;
      font-weight:bold;
      padding-top:70px;
      font-family:@mainfont;
    }

    h4{
      color:#000;
      font-family:@mainfont;
      font-size:18px;
      width:100%;
      text-align:center;
      font-weight:bold;
    }

    .appDownload{
      width:100%;
      text-align:center;
      margin-top:20px;

      img{
        width:100px;
      }
    }
  }
}



.blue-bg{
  background-image:url('@{images}/blue-bg.png');
}
.green-bg{
  background-image:url('@{images}/green-bg.png');
}
.purple-bg{
  background-image:url('@{images}/purple-bg.png');
}
.orange-bg{
  background-image:url('@{images}/orange-bg.png');
}